<%= content_for :head do %>
<title><%= @soul.name %> - Reaper</title>
<%= javascript_include_tag 'markdown.min', 'data-turbolinks-track' => true %>

<style>
    .attr-table {
        width: 100%;
    }

    .attr-table th {
        
    }

    .attr-table td, .attr-table th {
        padding: 2px;
    }

    hr {
        margin: 7px 5px;
    }

    .soul-header {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
        margin: 5px;
    }

    ul.soul-refs {

    }

    ul.soul-refs li {
        padding: 2px 5px;
        border-radius: 5px;
    }

    ul.soul-refs li:hover {
        background-color:#eee;
    }
    .tab-pane {
        padding: 10px;
    }

    .comments h1, .comments h2, .comments h3, .comments h4, .comments h5, .comments h6 {
        font-size: 100%;
        font-weight: bold;
    }

    blockquote {
        font-size: 90%;
        font-family: monospace;
    }
</style>

<script>
$(document).ready(function() {
    $("#submission-form").hide();
    $("#submission-add").click(function() {
        if($("#submission-form").is(':visible')) {
            $(this).text('Add');
        } else {
            $(this).text('Cancel');
        }

        $("#submission-form").slideToggle();
        return false;
    });

    $("#comment-preview-tab").on("show.bs.tab", function(e) {
        $("#comment-preview").html(markdown.toHTML($("#comment-text").val()));
    });

    $("#new_citation").on('ajax:success', function(e, data, status, xhdr) {
        addCitation(data.id, data.url);
        $("#citation_url").val('');
    }).on('ajax:error', function() {

    }).hide();

    $(".add-ref-btn").each(function() {
        var $this = $(this);
        $this.click(function() {
            var $target = $($this.data('target'));
            if($target.is(":visible")) {
                $this.text('Add');
            } else {
                $this.text('Cancel');
            }

            $target.slideToggle();
            return false;
        });
    });


    <% @soul.citations.each do |citation| %>
        addCitation(<%=citation.id%>, "<%=citation.url%>");
    <% end %>



});

function addCitation(id, url) {
    $("#citation-list").append(
        $("<li>").append(
            $("<a>").attr('href', url).attr('target', '_blank').text(url)
        ).append(
            $("<a href='#' class='pull-right btn btn-danger btn-xs'>").append(
                $("<span class='glyphicon glyphicon-trash'>")
            ).click(function() {
                $(this).parent().remove();
                $.ajax({
                    url: "/souls/"+<%=@soul.id%>+'/citations/'+id,
                    dataType: 'json',
                    type: 'POST',
                    data: { _method: 'DELETE' },
                });
                return false;
            })
        )
    );
}

</script>

<% end %>

<%= content_for :content do %>

<div class='row'>
    <div class='col-md-12'>
        <div class='page-header' style='margin-top: 0px'>
            <h1><%= @soul.name %> <small>Reaper</small></h1>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <div class='soul-header'>
            <table class='attr-table'>
                <tr>
                    <th>Author:</th>
                    <td><a href='#'>Adam Meily</a></td>
                    <th>Created:</th>
                    <td><%= @soul.created_at.strftime "%d %b %Y @ %H:%M" %></td>
                </tr>
                <tr>
                    <th>ID:</th>
                    <td><%= @soul.id %></td>
                    <th>Updated:</th>
                    <td><%= @soul.updated_at.strftime "%d %b %Y @ %H:%M" %></td>
                </tr>
            </table>
            
            <hr>

            <div>
                <div><strong>Description</strong></div>
                <div>
                    <%= @soul.description %>
                </div>
            </div>

            <hr>

            <div>
                <div>
                    <strong>Citations</strong>
                    <div class='pull-right' ><a href='#' class='add-ref-btn' data-target='#new_citation'>Add</a></div>
                </div>
                <ul class='list-unstyled soul-refs' id='citation-list'>
                    <!--
                    <li>
                        <a href='#'>http://getbootstrap.com/css/</a>
                        <div class='pull-right'>
                            <a href='#'><span class='glyphicon glyphicon-trash'></span></a>
                        </div>
                    </li>
                    -->
                </ul>


                <%= form_for([@soul, @soul.citations.build], remote: true) do |f| %>
                    <div class='row'>
                        <div class='col-md-6'>
                            <%= f.text_field :url, class: 'form-control input-sm col-md-12', :placeholder => 'URL' %>
                        </div>
                        <%= f.submit "Save", class: 'btn btn-info btn-sm col-md-2' %>
                    </div>
                <% end %>
            </div>

            <hr>

            <div>
                <div>
                    <strong>Soul Links</strong>
                    <div class='pull-right'><a href='#'>Add</a></div>
                </div>
                <ul class='list-unstyled soul-refs'>
                </ul>
            </div>

            <hr>

            <div>
                <div>
                    <strong>Attachments</strong>
                    <div class='pull-right'><a href='#'>Add</a></div>
                </div>
                <ul class='list-unstyled soul-refs'>
                </ul>
            </div>

            <hr>

            <div>
                <div>
                    <strong>Submissions</strong>
                    <div class='pull-right' ><a href='#' id='submission-add'>Add</a></div>
                </div>
                <ul class='list-unstyled soul-refs'>
                </ul>
                <!--<div class='form-inline' id='submission-form'>
                    <input type='text' class='form-control input-sm' placeholder='Customer'>
                    <input type='file' class='form-control input-sm'>
                    <button class='btn btn-sm btn-info'>Save</button>
                </div>-->

            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <div style='margin: 5px'>
            <h3>
                <span class='glyphicon glyphicon-comment'></span>
                Comments
            </h3>
            <div class='comments'>
                <ul class='nav nav-tabs'>
                    <li class='active'>
                        <a href='#comment-write' data-toggle='tab'>
                            <span class='glyphicon glyphicon-pencil'></span>
                            Write
                        </a>
                    </li>
                    <li>
                        <a href='#comment-preview' data-toggle='tab' id='comment-preview-tab'>
                            <span class='glyphicon glyphicon-picture'></span>
                            Preview
                        </a>
                    </li>
                </ul>

                <div class='tab-content'>
                    <div class='tab-pane active' id='comment-write-tab'>
                        <%= form_for([@soul, @soul.comments.build], remote: true) do |f| %>
                            <%= f.text_area :body, class: 'form-control', :placeholder => 'Write a Comment', :rows => 5 %>
                            <div class='text-right' style='margin-top: 5px'>
                                <%= f.submit "Save", class: "btn btn-primary btn-lg" %>
                            </div>
                        <% end %>
                    </div>

                    <div class='tab-pane' id='comment-preview'>
                    </div>
                    <!--
                    quote:
                        *Adam Meily* said:
                        > This is some bullshit
                    -->

                </div>
            </div>
        </div>
    </div>
</div>


<% end %>